name: Run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pr-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.9' ]
    name: Python ${{ matrix.python-version }} tests
    steps:
      - name: Checkout latest version
        uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Setup Poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.2.0b1
      - name: Install dependencies
        run: poetry install
      - name: Run linter and type checker tests
        run:
          poetry run isort . --check &&
          poetry run black . --check &&
          poetry run mypy telebot
      - name: Run unit tests
        run: poetry run pytest tests -vv
